<li class="menu-item {% if item_data.is_active %}active{% endif %} {% if item_data.children %}collapsible{% endif %}">
    <div class="menu-link-wrapper">
        {% if item_data.children %}
            <span class="menu-link {% if item_data.is_active %}active-link{% endif %} header-nav-top-link">
                {{ item_data.item.title }}
            </span>
        {% else %}
            <a href="{{ item_data.url }}" 
               class="menu-link {% if item_data.is_active %}active-link{% endif %} header-nav-link">
                {{ item_data.item.title }}
            </a>
        {% endif %}

    </div>
    
    {% if item_data.children %}
        <ul class="submenu {% if not item_data.is_expanded %}collapsed{% endif %}" 
            id="submenu-{{ item_data.item.id }}">
            {% for child in item_data.children %}
                {% include "menu/menu_item.html" with item_data=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
